development:
  auth_server: "https://your-sso-server.com"
  callback_url: "http://localhost:8080/auth/callback"
  root_url: "http://localhost:8080"
  sign_in_url: "https://your-sso-server.com/signin"
  frontend_url: "http://localhost:3000"
  client_id: "your-client-id"
  sso_username: "your-sso-username"
  sso_password: "your-sso-password"
  redis_uri: "redis://:password@localhost:6379/0"
  session_key: "your-development-session-key"
  session_name: "sso_session"

staging:
  auth_server: "https://staging.your-sso-server.com"
  callback_url: "https://staging.your-app.com/auth/callback"
  root_url: "https://staging.your-app.com"
  sign_in_url: "https://staging.your-sso-server.com/signin"
  frontend_url: "https://staging.your-frontend.com"
  client_id: "your-staging-client-id"
  redis_uri: "redis://:password@redis.staging:6379/0"
  session_key: "your-staging-session-key"
  session_name: "sso_session"

production:
  auth_server: "https://production.your-sso-server.com"
  callback_url: "https://production.your-app.com/auth/callback"
  root_url: "https://production.your-app.com"
  sign_in_url: "https://production.your-sso-server.com/signin"
  frontend_url: "https://production.your-frontend.com"
  client_id: "your-production-client-id"
  redis_uri: "redis://:password@redis.production:6379/0"
  session_key: "your-production-session-key"
  session_name: "sso_session" 